@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
* {
   font-family: 'Noto Sans KR', sans-serif;
}

#main {
   position: absolute;
   left: 200px;
   width: calc(100% - 200px);
   height: 100vh;
   padding: 40px;
   padding-top: 20px;
   box-sizing: border-box;
   background-color: #f8f9fa;
}
#title {
   background-color: #00ff0000;
   padding-bottom: 20px;
}
#title a {
   font-size: 35px;
   font-weight: 500;
   letter-spacing: 2px;
   color: rgb(80, 80, 80);
   text-decoration: none;
}
.content-container {
   width: 70%;
   max-width: 1200px;
   height: calc(95% - 70px);
   box-sizing: border-box;
   display: grid;
   grid-template-rows: 1fr 1fr;
   /* grid-template-columns: 1fr 1fr; */
   gap: 20px;
}

.content {
   /* background-color: white; */
   border-radius: 10px;
   padding: 20px;
   letter-spacing: 2px;
   display: flex;
}
.graph-box {
   height: 50%;
}
.detail-box {
   margin-left: 30px;
   font-size: 20px;
}
